/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --decorated-text-color: #000028;
  --hover-color: rgba(255, 0, 112, 0.40);
  --background-image: url("../images/cover-image-dark.png");
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
