/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --decorated-text-color: #000028;
  --hover-color: rgba(255, 0, 112, 0.40);
  --background-image: url("../images/cover-image-dark.png");
}

.theme-dark .header__rec {
  display: block;
}

.theme-dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme-dark .header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.theme-dark .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.theme-dark .header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.theme-dark .header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.theme-dark .footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.theme-dark .link {
  text-shadow: 2px 2px 0 var(--accent-color);
}