/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

:root.theme-light {
  --background-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decorated-text-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.40);
  --background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
  --background-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decorated-text-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.40);
  --background-image: url("../images/cover-image-light.png");
  }
}

.light-theme .header__theme-menu-button {
  color: var(--text-color);
}

.light-theme .header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.light-theme .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--text-color);
}

.light-theme .header__theme-menu-button_active {
  outline: 1px solid var(--text-color);
}

.light-theme .header__rec {
  display: none;
}

.light-theme .header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.light-theme .footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.light-theme .link {
  text-shadow: 2px 2px 0 var(--accent-color);
}