.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--padding-tablet);
  min-block-size: 100vb;
  position: relative;
}

.header__rec {
  position: absolute;
  inset-inline-end: 28px;
  inset-block-start: var(--padding-tablet);
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: var(--text-size-base);
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: var(--rec-dot-size);
  height: var(--rec-dot-size);
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-inline-start: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: var(--decorated-element-size);
  block-size: var(--decorated-element-size);
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: var(--padding-tablet);
  inset-block-start: var(--padding-tablet);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: var(--decorated-element-size);
  block-size: var(--decorated-element-size);
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: var(--padding-tablet);
  inset-block-end: var(--padding-tablet);
}

.header__theme-menu {
  justify-self: end;
  grid-row: 2;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__theme-menu-button {
  border: none;
  background: transparent;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: var(--text-size-base);
  line-height: 18px;
  padding: 2px 13px;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__title {
  color: var(--title-color);
  font-family: var(--accent-font);
  font-weight: 700;
  line-height: var(--title-line-height);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  max-inline-size: 491px;
}

.header__text {
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: var(--text-size-base);
  font-weight: 700;
  line-height: var(--text-line-height);
}

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font);
  font-size: var(--text-size-base);
  line-height: var(--text-line-height);
  color: var(--text-color);
}

.link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery__grid {
  display: grid;
  gap: 20px;
  margin-block-start: 20px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  padding: var(--padding-tablet);
  min-block-size: 100vb;
  position: relative;
}

.footer__title {
  color: var(--title-color);
  font-family: var(--accent-font);
  font-weight: 700;
  line-height: var(--title-line-height);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px var(--padding-mobile);
}

.section {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.section__title {
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: var(--text-size-base);
  font-weight: 700;
  line-height: var(--text-line-height);
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--decorated-text-color);
  font-family: var(--main-font);
  font-size: var(--text-size-base);
  font-weight: 700;
  line-height: var(--text-line-height);
}

.text-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-group__title {
  font-family: var(--main-font);
  font-size: var(--text-size-base);
  font-weight: 700;
  line-height: var(--text-line-height);
}

.text-group__title--large {
  font-weight: 1000;
}

.text-group__paragraph {
  font-family: var(--main-font);
  font-size: var(--text-size-base);
  font-weight: 400;
  line-height: var(--text-line-height);
  color: var(--text-color);
}

@media (width >= 768px) {
  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: span 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(3) {
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: span 2;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .section:not(.section--three-columns):not(.gallery) {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  
  .section:not(.section--three-columns):not(.gallery) .section__title {
    grid-column: 1;
  }
  
  .section:not(.section--three-columns):not(.gallery) .section__content {
    grid-column: 2;
    grid-row: 1;
  }

  .section--three-columns {
    grid-template-columns: 1fr;
  }
  
  .section--three-columns .section__title {
    grid-column: 1;
  }
  
  .section--three-columns .section__content {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (width >= 1024px) {
  .gallery__grid {
    gap: 25px;
  }
  
  .gallery__image {
    block-size: 100%;
    object-fit: cover;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: span 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(3) {
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: span 2;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    grid-row: 1;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .section:not(.section--three-columns):not(.gallery) {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

.section--three-columns {
  grid-template-columns: 1fr;
}